<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ModFilter</filter-name>
        <filter-class>filter.ModFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RestrictedAccountFilter</filter-name>
        <filter-class>filter.RestrictedAccountFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestrictedAccountFilter</filter-name>
        <url-pattern>/empty</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/AdminDashboard.jsp</url-pattern>
        <url-pattern>/AllMemberTicket.jsp</url-pattern>
        <url-pattern>/AllTicket.jsp</url-pattern>
        <url-pattern>/CreateAnime.jsp</url-pattern>
        <url-pattern>/TicketDetail.jsp</url-pattern>
        <url-pattern>/AdjustRole</url-pattern>
        <url-pattern>/AdjustStatus</url-pattern>
        <url-pattern>/ApproveTicket</url-pattern>
        <url-pattern>/createAnime</url-pattern>
        <url-pattern>/DashBoard</url-pattern>
        <url-pattern>/RejectTicket</url-pattern>
        <url-pattern>/Ticket</url-pattern>
        <url-pattern>/TicketDetail</url-pattern>
        <url-pattern>/updateAnime</url-pattern>
        <url-pattern>/ValidateTicket</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ModFilter</filter-name>
        <url-pattern>/CheckReportedPosts.jsp</url-pattern>
        <url-pattern>/ReportList.jsp</url-pattern>
        <url-pattern>/checkReportedPosts</url-pattern>
        <url-pattern>/ListReport</url-pattern>
        <url-pattern>/ValidateReport</url-pattern>
        <url-pattern>/viewReportTable</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/AccountSetting.jsp</url-pattern>
        <url-pattern>/AddPhoneNumber.jsp</url-pattern>
        <url-pattern>/ChangePass</url-pattern>
        <url-pattern>/AddPhoneNumber.jsp</url-pattern>
        <url-pattern>/ChoosePostPic.jsp</url-pattern>
        <url-pattern>/CreatePost.jsp</url-pattern>
        <url-pattern>/CreateTicket.jsp</url-pattern>
        <url-pattern>/AddPhoneNumber.jsp</url-pattern>  
        <url-pattern>/AccountSetting</url-pattern>
        <url-pattern>/addComment</url-pattern>
        <url-pattern>/addPhoneNumber</url-pattern>
        <url-pattern>/ChangeEmail</url-pattern>
        <url-pattern>/ChangePassword</url-pattern>
        <url-pattern>/ChangeName</url-pattern>
        <url-pattern>/ChangePassword</url-pattern>
        <url-pattern>/ChangeUserName</url-pattern>
        <url-pattern>/createPost</url-pattern>
        <url-pattern>/CreateReport</url-pattern>
        <url-pattern>/CreateTicket</url-pattern>
        <url-pattern>/deleteAccount</url-pattern>
        <url-pattern>/deleteComment</url-pattern>
        <url-pattern>/deletePost</url-pattern>
        <url-pattern>/DeleteReport</url-pattern>
        <url-pattern>/DeleteTicket</url-pattern>
        <url-pattern>/EditTicket</url-pattern>
        <url-pattern>/SetBio</url-pattern>
        <url-pattern>/UpdateBio</url-pattern>
        <url-pattern>/updateComment</url-pattern>
        <url-pattern>/updateVotePost</url-pattern>
        <url-pattern>/UploadPFP</url-pattern>
        <url-pattern>/VerifyChangedEmail</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>blank</servlet-name>
        <servlet-class>controller.blank</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>blank</servlet-name>
        <url-pattern>/blank</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
