<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ModFilter</filter-name>
        <filter-class>filter.ModFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RestrictedAccountFilter</filter-name>
        <filter-class>filter.RestrictedAccountFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestrictedAccountFilter</filter-name>
        <url-pattern>/empty</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/empty</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ModFilter</filter-name>
        <url-pattern>/empty</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Profile1.jsp</url-pattern>
        <url-pattern>/AddPhoneNumber.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>blank</servlet-name>
        <servlet-class>controller.blank</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>blank</servlet-name>
        <url-pattern>/blank</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
