USE [master]
GO


-- Drop the database if it already exists
IF EXISTS (SELECT name
FROM sys.databases
WHERE name = N'SWP391_SU24')
BEGIN
    DROP DATABASE [SWP391_SU24];
END
GO


/****** Object:  Database [SWP391_SU24]    Script Date: 6/21/2024 8:46:29 PM ******/
CREATE DATABASE [SWP391_SU24]
CONTAINMENT = NONE
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [SWP391_SU24].[dbo].[sp_fulltext_database] @action = 'enable'
END
GO


USE [SWP391_SU24]
GO


/****** Object:  Table [dbo].[Anime]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anime]
(
    [AnimeID] [int] IDENTITY(1,1) NOT NULL,
    [Title] [nvarchar](100) NOT NULL,
    [Synopsis] [text] NULL,
    [GenreId] [int] NULL,
    [Episodes] [int] NULL,
    [Status] [varchar](20) NULL,
    [ReleaseDate] [datetime] NULL,
    [Studio] [nvarchar](100) NULL,
    [imageAnime] [varchar](100) NULL,

    PRIMARY KEY CLUSTERED ([AnimeID] ASC)
	WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Category]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category]
(
    [CategoryID] [int] IDENTITY(1,1) NOT NULL,
    [Name] [nvarchar](50) NOT NULL,
    [Description] [text] NULL,

    PRIMARY KEY CLUSTERED ([CategoryID] ASC)
	WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Comment]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment]
(
    [CommentID] [int] IDENTITY(1,1) NOT NULL,
    [PostID] [int] NULL,
    [UserID] [int] NULL,
    [Content] [text] NULL,
    [Status] [varchar](20) NULL,
    [Vote] [int] NOT NULL,
    [ParentId] [int] NULL,
    [CreateAt] [datetime] NOT NULL,

    PRIMARY KEY CLUSTERED ([CommentID] ASC)
	WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Genre]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre]
(
    [GenreID] [int] IDENTITY(1,1) NOT NULL,
    [Name] [nvarchar](50) NOT NULL,
    [Description] [text] NULL,

    PRIMARY KEY CLUSTERED ([GenreID] ASC)
	WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


/****** Object:  Table [dbo].[GenreAnime]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenreAnime]
(
    [AnimeID] [int] NOT NULL,
    [GenreID] [int] NOT NULL,

    PRIMARY KEY CLUSTERED ([AnimeID] ASC, [GenreID] ASC)
	WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Media]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media]
(
    [MediaID] [int] IDENTITY(1,1) NOT NULL,
    [UserID] [int] NULL,
    [FileName] [varchar](100) NULL,
    [Path] [text] NULL,
    [Type] [varchar](20) NULL,
    [Uploaded] [varchar](50) NOT NULL,

    PRIMARY KEY CLUSTERED ([MediaID] ASC)
	WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Post]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post]
(
    [PostID] [int] IDENTITY(1,1) NOT NULL,
    [UserID] [int] NULL,
    [CategoryID] [int] NULL,
    [Title] [text] NULL,
    [Content] [text] NULL,
    [Source] [nvarchar](100) NULL,
    [Image] [varchar](100) NULL,
    [PostTime] [datetime] NOT NULL,
    [Status] [varchar](20) NULL,
    [Vote] [int] NOT NULL,
    [View] [int] NOT NULL,

    PRIMARY KEY CLUSTERED ([PostID] ASC)
	WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


/****** Object:  Table [dbo].[PostGenre]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostGenre]
(
    [PostID] [int] Not NULL,
    [GenreID] [int] Not NULL,

    PRIMARY KEY CLUSTERED ([PostID] ASC, [GenreID] ASC)
	WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Rank]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank]
(
    [RankID] [int] IDENTITY(1,1) NOT NULL,
    [Name] [nvarchar](50) NOT NULL,
    [PointsRequired] [int] NULL,
    [Color] [varchar](20) NULL,

    PRIMARY KEY CLUSTERED ([RankID] ASC)
    WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Report]    Script Date: 6/21/2024 8:46:29 PM ******/
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report]
(
    [ReportID] [int] IDENTITY(1, 1) NOT NULL,
    [UserID] [int] NOT NULL,
    [TimeCreated] [datetime] NOT NULL,
    [Reason] [text] NOT NULL,
    [PostID] [int] NOT NULL,
    [Status] [varchar](8) NOT NULL,
    [Note] [text] NULL,

    PRIMARY KEY CLUSTERED ([ReportID] ASC) 
    WITH (
        PAD_INDEX = OFF,
        STATISTICS_NORECOMPUTE = OFF,
        IGNORE_DUP_KEY = OFF,
        ALLOW_ROW_LOCKS = ON,
        ALLOW_PAGE_LOCKS = ON,
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO


/****** Object:  Table [dbo].[Report]    Script Date: 7/2/2024 12:47:29 PM ******/
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket]
(
    [TicketID] [int] IDENTITY(1, 1) NOT NULL,
    [UserID] [int] NOT NULL,
    [TimeCreated] [datetime] NOT NULL,
    [Content] [text] NOT NULL,
    [Status] [varchar](8) NOT NULL,
    [Note] [text] NULL,

    PRIMARY KEY CLUSTERED ([TicketID] ASC) 
	WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Ban]    Script Date: 7/2/2024 12:47:29 PM ******/
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban]
(
    [BanId] [int] IDENTITY(1,1) NOT NULL,
    [BannedUserId] [int] NOT NULL,
    [BanSourceId] [int] NOT NULL,
    [BanReason] [nvarchar](255) NOT NULL,
    [BannedDate] [datetime] NOT NULL,
    [ExpireDate] [datetime] NOT NULL,
    [SourcePostId] [int] foreign key references post(postid) NULL,
    PRIMARY KEY CLUSTERED ([BanId] ASC) 
	WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Role]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role]
(
    [RoleID] [int] IDENTITY(1,1) NOT NULL,
    [RoleName] [varchar](50) NOT NULL,

    PRIMARY KEY CLUSTERED ([RoleID] ASC) 
    WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[User]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User]
(
    [UserID] [int] IDENTITY(1,1) NOT NULL,
    [Username] [varchar](50) NOT NULL,
    [Password] [varchar](100) NOT NULL,
    [RoleID] [int] NULL,
    [Point] [int] NULL,
    [Status] [varchar](20) NULL,
    [Email] [varchar](100) NULL,
    [Fullname] [nvarchar](100) NULL,
    [RankID] [int] NULL,
    [ProfilePhoto] [varchar](255) NULL,
    [PhoneNumber] [varchar](20) NULL,
    [DateOfBirth] [datetime] NULL,
    [CreationDate] [datetime] NOT NULL,
    [Bio] [nvarchar](255) NULL,

    PRIMARY KEY CLUSTERED ([UserID] ASC)
    WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[VoteUserCmt]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoteUserCmt]
(
    [UserID] [int] NOT NULL,
    [CommentID] [int] NOT NULL,
    [Status] [varchar](20) NULL,

    PRIMARY KEY CLUSTERED ([UserID] ASC, [CommentID] ASC)
    WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[VoteUserPost]    Script Date: 6/21/2024 8:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoteUserPost]
(
    [UserID] [int] NOT NULL,
    [PostID] [int] NOT NULL,
    [Status] [varchar](20) NULL,

    PRIMARY KEY CLUSTERED ([UserID] ASC, [PostID] ASC)
    WITH (
        PAD_INDEX = OFF, 
        STATISTICS_NORECOMPUTE = OFF, 
        IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, 
        ALLOW_PAGE_LOCKS = ON, 
        OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
    ) ON [PRIMARY]
) ON [PRIMARY]
GO


SET IDENTITY_INSERT [dbo].[Anime] ON
INSERT [dbo].[Anime]
    ([AnimeID], [Title], [Synopsis], [GenreId], [Episodes], [Status], [ReleaseDate], [Studio], [imageAnime])
VALUES
    (
        1,
        N'Steins;Gate',
        N'Rintarou Okabe, a self-proclaimed mad scientist, discovers a way to send messages to the past using a microwave. As he and his friends experiment with time travel, they uncover a conspiracy that puts their lives and the fate of humanity at risk.',
        7,
        24,
        N'Completed',
        CAST(N'2011-04-06T00:00:00.000' AS DateTime),
        N'White Fox',
        NULL
    )
INSERT [dbo].[Anime]
    ([AnimeID], [Title], [Synopsis], [GenreId], [Episodes], [Status], [ReleaseDate], [Studio], [imageAnime])
VALUES
    (
        2,
        N'Cowboy Bebop',
        N'In the year 2071, bounty hunter Spike Spiegel and his crew aboard the spaceship Bebop chase down criminals across the galaxy. As they confront their pasts and face new adversaries, they must navigate a universe filled with danger and intrigue.',
        6,
        26,
        N'Completed',
        CAST(N'1998-04-03T00:00:00.000' AS DateTime),
        N'Sunrise',
        NULL
    )
SET IDENTITY_INSERT [dbo].[Anime] OFF
GO


SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category]
    ([CategoryID], [Name], [Description])
VALUES
    (
        1,
        N'Anime Reviews ',
        N'Reviews and evaluations of anime series, covering aspects such as plot, animation, characters, music, and screenplay.'
    )
INSERT [dbo].[Category]
    ([CategoryID], [Name], [Description])
VALUES
    (
        2,
        N'Character Analysis',
        N'Focuses on analyzing the personalities, actions, and roles of characters within anime.'
    )
INSERT [dbo].[Category]
    ([CategoryID], [Name], [Description])
VALUES
    (
        3,
        N'Plot Analysis ',
        N'Analyzes the storyline of anime, including its structure, development trends, and key details.'
    )
SET IDENTITY_INSERT [dbo].[Category] OFF
GO


SET IDENTITY_INSERT [dbo].[Comment] ON
INSERT [dbo].[Comment]
    ([CommentID], [PostID], [UserID], [Content], [Status], [Vote], [ParentId], [CreateAt])
VALUES
    (
        1,
        54,
        1,
        N'N?i dung comment c?a b?n',
        N'active',
        0,
        NULL,
        CAST(N'2024-06-20T00:47:05.207' AS DateTime)
    )
INSERT [dbo].[Comment]
    ([CommentID], [PostID], [UserID], [Content], [Status], [Vote], [ParentId], [CreateAt])
VALUES
    (
        2,
        54,
        1,
        N'N?i dung comment c?a b?n2',
        N'active',
        0,
        NULL,
        CAST(N'2024-06-20T00:47:31.320' AS DateTime)
    )
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO


SET IDENTITY_INSERT [dbo].[Genre] ON
INSERT [dbo].[Genre]
    ([GenreID], [Name], [Description])
VALUES
    (
        1,
        N'Mecha',
        N'Focuses on the use of giant robots or mechanical suits, often piloted by characters in battles against enemies or monsters.'
    )
INSERT [dbo].[Genre]
    ([GenreID], [Name], [Description])
VALUES
    (
        2,
        N'Slice of Life',
        N'Captures the everyday experiences and moments of characters, portraying their ordinary lives and personal growth.'
    )
INSERT [dbo].[Genre]
    ([GenreID], [Name], [Description])
VALUES
    (
        3,
        N'Fantasy',
        N'Incorporates elements of magic, mythical creatures, and fantastical worlds, featuring epic adventures and legendary battles.'
    )
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO


SET IDENTITY_INSERT [dbo].[Post] ON
INSERT [dbo].[Post]
    ([PostID], [UserID], [CategoryID], [Title], [Content], [Source], [Image], [PostTime], [Status], [Vote], [View])
VALUES
    (
        1,
        1,
        1,
        N'Review: Attack on Titan Season 4',
        NULL,
        N'AnimeReviewCentral',
        N'attack-on-titan-season4.jpg',
        CAST(N'2024-06-10T08:00:00.000' AS DateTime),
        N'active',
        0,
        0
    )
INSERT [dbo].[Post]
    ([PostID], [UserID], [CategoryID], [Title], [Content], [Source], [Image], [PostTime], [Status], [Vote], [View])
VALUES
    (
        2,
        2,
        1,
        N'Review: Demon Slayer - Kimetsu no Yaiba',
        NULL,
        N'AnimeMagazine',
        N'demon-slayer-kimetsu-no-yaiba.jpg',
        CAST(N'2024-06-11T09:00:00.000' AS DateTime),
        N'active',
        0,
        0
    )
INSERT [dbo].[Post]
    ([PostID], [UserID], [CategoryID], [Title], [Content], [Source], [Image], [PostTime], [Status], [Vote], [View])
VALUES
    (
        3,
        3,
        1,
        N'Review: My Hero Academia Season 5',
        NULL,
        N'OtakuNews',
        N'my-hero-academia-season5.jpg',
        CAST(N'2024-06-12T10:00:00.000' AS DateTime),
        N'active',
        0,
        0
    )
SET IDENTITY_INSERT [dbo].[Post] OFF
GO


INSERT [dbo].[PostGenre]
    ([PostID], [GenreID])
VALUES
    (1, 9)
INSERT [dbo].[PostGenre]
    ([PostID], [GenreID])
VALUES
    (2, 11)
INSERT [dbo].[PostGenre]
    ([PostID], [GenreID])
VALUES
    (3, 8)
GO


SET IDENTITY_INSERT [dbo].[Rank] ON
INSERT [dbo].[Rank]
    ([RankID], [Name], [PointsRequired], [Color])
VALUES
    (
        1,
        N'Newbie',
        2,
        N'#E0F7FA'
    )
INSERT [dbo].[Rank]
    ([RankID], [Name], [PointsRequired], [Color])
VALUES
    (
        2,
        N'Casual Fan',
        20,
        N'#B3E5FC'
    )
INSERT [dbo].[Rank]
    ([RankID], [Name], [PointsRequired], [Color])
VALUES
    (
        3,
        N'Anime Enthusiast ',
        40,
        N'#81D4FA'
    )
SET IDENTITY_INSERT [dbo].[Rank] OFF
GO


SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role]
    ([RoleID], [RoleName])
VALUES
    (
        1,
        N'Admin'
    )
INSERT [dbo].[Role]
    ([RoleID], [RoleName])
VALUES
    (
        2,
        N'Mod'
    )
INSERT [dbo].[Role]
    ([RoleID], [RoleName])
VALUES
    (
        3,
        N'Member'
    )
SET IDENTITY_INSERT [dbo].[Role] OFF
GO


SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User]
    ([UserID], [Username], [Password], [RoleID], [Point], [Status], [Email], [Fullname], [RankID], [ProfilePhoto], [PhoneNumber], [DateOfBirth], [CreationDate], [Bio])
VALUES
    (
        1,
        N'minhtvanh',
        N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92',
        1,
        100,
        N'active',
        N'minhtvanh01@gmail.com',
        N'pham vu anh minh',
        18,
        N'0',
        NULL,
        NULL,
        CAST(N'2024-06-06T17:47:00.660' AS DateTime),
        NULL
    )
INSERT [dbo].[User]
    ([UserID], [Username], [Password], [RoleID], [Point], [Status], [Email], [Fullname], [RankID], [ProfilePhoto], [PhoneNumber], [DateOfBirth], [CreationDate], [Bio])
VALUES
    (
        2,
        N'minhpham',
        N'bcb15f821479b4d5772bd0ca866c00ad5f926e3580720659cc80d39c9d09802a',
        3,
        0,
        N'active',
        N'minhtvanh2006@gmail.com',
        N'anh minh',
        1,
        NULL,
        NULL,
        NULL,
        CAST(N'2024-06-06T17:47:00.693' AS DateTime),
        NULL
    )
INSERT [dbo].[User]
    ([UserID], [Username], [Password], [RoleID], [Point], [Status], [Email], [Fullname], [RankID], [ProfilePhoto], [PhoneNumber], [DateOfBirth], [CreationDate], [Bio])
VALUES
    (
        3,
        N'quocanh',
        N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92',
        1,
        100,
        N'active',
        N'minhtvanh01@gmail.com',
        N'qu?c',
        18,
        NULL,
        NULL,
        NULL,
        CAST(N'2024-06-06T17:47:00.693' AS DateTime),
        NULL
    )
SET IDENTITY_INSERT [dbo].[User] OFF
GO


ALTER TABLE [dbo].[Comment] ADD DEFAULT ((0)) FOR [Vote]
GO
ALTER TABLE [dbo].[Comment] ADD DEFAULT (getdate()) FOR [CreateAt]
GO

ALTER TABLE [dbo].[Media] ADD DEFAULT (getdate()) FOR [Uploaded]
GO

ALTER TABLE [dbo].[Post] ADD DEFAULT ((0)) FOR [Vote]
GO
ALTER TABLE [dbo].[Post] ADD DEFAULT ((0)) FOR [View]
GO

ALTER TABLE [dbo].[User] ADD DEFAULT (getdate()) FOR [CreationDate]
GO


ALTER TABLE [dbo].[Anime] WITH CHECK ADD CONSTRAINT [FK_Anime_Genre] FOREIGN KEY ([GenreId])
REFERENCES [dbo].[Genre] ([GenreID])
GO
ALTER TABLE [dbo].[Anime] CHECK CONSTRAINT [FK_Anime_Genre]
GO

ALTER TABLE [dbo].[Comment] WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Comment] WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Comment] WITH CHECK ADD CONSTRAINT [FK_Comment_Comment] FOREIGN KEY ([ParentId])
REFERENCES [dbo].[Comment] ([CommentID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Comment]
GO

ALTER TABLE [dbo].[GenreAnime] WITH CHECK ADD FOREIGN KEY ([AnimeID])
REFERENCES [dbo].[Anime] ([AnimeID])
GO
ALTER TABLE [dbo].[GenreAnime] WITH CHECK ADD FOREIGN KEY ([GenreID])
REFERENCES [dbo].[Genre] ([GenreID])
GO

ALTER TABLE [dbo].[Media] WITH CHECK ADD FOREIGN KEY ([UserID])
REFERENCES [dbo].[User] ([UserID])
GO

ALTER TABLE [dbo].[Post] WITH CHECK ADD FOREIGN KEY ([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Post] WITH CHECK ADD FOREIGN KEY ([UserID])
REFERENCES [dbo].[User] ([UserID])
GO

ALTER TABLE [dbo].[PostGenre] WITH CHECK ADD FOREIGN KEY ([GenreID])
REFERENCES [dbo].[Genre] ([GenreID])
GO
ALTER TABLE [dbo].[PostGenre] WITH CHECK ADD FOREIGN KEY ([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO

ALTER TABLE [dbo].[Report] WITH CHECK ADD FOREIGN KEY ([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Report] WITH CHECK ADD FOREIGN KEY ([UserID])
REFERENCES [dbo].[User] ([UserID])
GO

ALTER TABLE [dbo].[Ticket] WITH CHECK ADD FOREIGN KEY ([UserID])
REFERENCES [dbo].[User] ([UserID])
GO

ALTER TABLE [dbo].[Ban] WITH CHECK ADD FOREIGN KEY ([BannedUserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Ban] WITH CHECK ADD FOREIGN KEY ([BanSourceId])
REFERENCES [dbo].[User] ([UserID])
GO

ALTER TABLE [dbo].[User] WITH CHECK ADD FOREIGN KEY ([RankID])
REFERENCES [dbo].[Rank] ([RankID])
GO
ALTER TABLE [dbo].[User] WITH CHECK ADD FOREIGN KEY ([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO

ALTER TABLE [dbo].[VoteUserCmt] WITH CHECK ADD FOREIGN KEY ([CommentID])
REFERENCES [dbo].[Comment] ([CommentID])
GO
ALTER TABLE [dbo].[VoteUserCmt] WITH CHECK ADD FOREIGN KEY ([UserID])
REFERENCES [dbo].[User] ([UserID])
GO

ALTER TABLE [dbo].[VoteUserPost] WITH CHECK ADD FOREIGN KEY ([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[VoteUserPost] WITH CHECK ADD FOREIGN KEY ([UserID])
REFERENCES [dbo].[User] ([UserID])
GO


ALTER TABLE [dbo].[Anime] WITH CHECK ADD CHECK (([Status]='Ongoing' OR [Status]='Completed' OR [Status]='Released'))
GO

ALTER TABLE [dbo].[Comment] WITH CHECK ADD CHECK (([Status]='deactive' OR [Status]='active' OR [Status]='hide'))
GO

ALTER TABLE [dbo].[Post] WITH CHECK ADD CHECK (([Status]='deactive' OR [Status]='active' OR [Status]='hide'))
GO

ALTER TABLE [dbo].[User] WITH CHECK ADD CHECK (([Status]='deactive' OR [Status]='active' OR [Status]='hide'))
GO

ALTER TABLE [dbo].[VoteUserCmt] WITH CHECK ADD CONSTRAINT [CK_Status_VoteUserCmt] CHECK (([Status]='upvote' OR [Status]='downvote'OR [Status]='unvote'))
GO
ALTER TABLE [dbo].[VoteUserCmt] CHECK CONSTRAINT [CK_Status_VoteUserCmt]
GO

ALTER TABLE [dbo].[VoteUserPost] WITH CHECK ADD CONSTRAINT [CK_Status_VoteUserPost] CHECK (([Status]='upvote' OR [Status]='downvote'OR [Status]='unvote'))
GO
ALTER TABLE [dbo].[VoteUserPost] CHECK CONSTRAINT [CK_Status_VoteUserPost]
GO

ALTER TABLE [dbo].[Report] WITH CHECK ADD CHECK (([Status]='Pending' OR [Status]='Approved' OR [Status]='Rejected'))
GO

ALTER TABLE [dbo].[Ticket] WITH CHECK ADD CHECK (([Status]='Pending' OR [Status]='Approved' OR [Status]='Rejected'))
GO

CREATE PROCEDURE UpdateUserStatus
AS
BEGIN
    SET NOCOUNT ON;

    -- Update user status to 'active' where all bans have expired
	update [user]
     SET status = 'active'
    WHERE userid IN (
        SELECT BannedUserId
        FROM Ban
        GROUP BY BannedUserId
        HAVING MAX(ExpireDate) < GETDATE()
    )
    AND status = 'deactive';
END
GO

CREATE TRIGGER trg_update_rankid
ON [user]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Update the rankid based on the new points
    UPDATE u
    SET rankid = (
        SELECT TOP 1 r.rankid
        FROM [rank] r
        WHERE r.pointsrequired <= u.point
        ORDER BY r.pointsrequired DESC
    )
    FROM [user] u
    JOIN inserted i ON u.userid = i.userid;
END
GO

update [rank] set pointsrequired = 0 where  rankid = 1
go
create table [Notification](
notificationId int primary key identity(1,1),
sourcePostId int foreign key references post(postid),
sourceUserId int foreign key references [user](userid),
targetUserId int foreign key references [user](userid),
content nvarchar(255),
timeCreated datetime,
)
go

create table Ban(
[BanId] int identity(1,1) primary key,
[BannedUserId] int foreign key references [user](userid),
[BanSourceId] int foreign key references [user](userid),
[BanReason] nvarchar(255),
[BannedDate] datetime,
[ExpireDate] datetime,
)

CREATE TRIGGER trg_UpdatePostStatusAndBanOnReport
ON [dbo].[Report]
AFTER INSERT
AS
BEGIN
    -- Declare variables to hold the PostID, View count, Report count, BannedUserId, and BanDuration
    DECLARE @PostID INT, @ViewCount INT, @ReportCount INT, @BannedUserId INT, @BanDuration INT;

    -- Cursor to iterate through inserted rows
    DECLARE cur CURSOR FOR
    SELECT PostID
    FROM inserted;

    OPEN cur;

    FETCH NEXT FROM cur INTO @PostID;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Get the view count of the post
        SELECT @ViewCount = [View] FROM [dbo].[Post] WHERE PostID = @PostID;

        -- Get the report count for the post
        SELECT @ReportCount = COUNT(*) FROM [dbo].[Report] WHERE PostID = @PostID;

        -- Get the UserID of the post to be banned
        SELECT @BannedUserId = UserID FROM [dbo].[Post] WHERE PostID = @PostID;

        -- Initialize @BanDuration to NULL
        SET @BanDuration = NULL;

        -- Condition for posts with less than 20 views and 3 or more reports
        IF @ViewCount < 20 AND @ReportCount >= 3
        BEGIN
            -- Ban logic based on the number of reports
            IF @ReportCount >= 3 AND @ReportCount <= 10
            BEGIN
                SET @BanDuration = 1; -- 1 hour
            END
            ELSE IF @ReportCount > 10 AND @ReportCount <= 20
            BEGIN
                SET @BanDuration = 3; -- 3 hours
            END
            ELSE IF @ReportCount > 20 AND @ReportCount <= 30
            BEGIN
                SET @BanDuration = 24; -- 1 day (24 hours)
            END
            ELSE IF @ReportCount > 30 AND @ReportCount <= 50
            BEGIN
                SET @BanDuration = 120; -- 5 days (120 hours)
            END
            ELSE IF @ReportCount > 50
            BEGIN
                SET @BanDuration = 168; -- 1 week (168 hours)
            END

            -- Update post status to 'deactive'
            UPDATE [dbo].[Post]
            SET Status = 'deactive'
            WHERE PostID = @PostID;

            -- Update user status to 'deactive'
            UPDATE [dbo].[User]
            SET Status = 'deactive'
            WHERE UserID = @BannedUserId;
        END
        -- Condition for posts with 20 or more views and report to view ratio >= 10%
        ELSE IF @ViewCount >= 20 AND (@ReportCount * 1.0 / @ViewCount) >= 0.1
        BEGIN
            -- Ban logic based on the number of reports
            IF @ReportCount >= 3 AND @ReportCount <= 10
            BEGIN
                SET @BanDuration = 1; -- 1 hour
            END
            ELSE IF @ReportCount > 10 AND @ReportCount <= 20
            BEGIN
                SET @BanDuration = 3; -- 3 hours
            END
            ELSE IF @ReportCount > 20 AND @ReportCount <= 30
            BEGIN
                SET @BanDuration = 24; -- 1 day (24 hours)
            END
            ELSE IF @ReportCount > 30 AND @ReportCount <= 50
            BEGIN
                SET @BanDuration = 120; -- 5 days (120 hours)
            END
            ELSE IF @ReportCount > 50
            BEGIN
                SET @BanDuration = 168; -- 1 week (168 hours)
            END

            -- Update post status to 'deactive'
            UPDATE [dbo].[Post]
            SET Status = 'deactive'
            WHERE PostID = @PostID;

            -- Update user status to 'deactive'
            UPDATE [dbo].[User]
            SET Status = 'deactive'
            WHERE UserID = @BannedUserId;
        END

        -- Insert ban record if applicable
        IF @BanDuration IS NOT NULL
        BEGIN
            INSERT INTO [dbo].[Ban] (BannedUserId, BanSourceId, BanReason, BannedDate, ExpireDate, SourcePostId)
            VALUES (
                @BannedUserId,
                NULL, -- BanSourceId is set to NULL when triggered
                'Reported too many times',
                GETDATE(),
                DATEADD(HOUR, @BanDuration, GETDATE()),
                @PostID
            );
        END

        FETCH NEXT FROM cur INTO @PostID;
    END;

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
USE [master]
GO
