.popup {
    display: none; /* Ensure the popup is hidden initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 350px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all 300ms ease-in-out; /* Add transition here for smooth scaling */
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup.active {
    display: block; /* Display the popup when it has the 'active' class */
}

.popup.active .content {
    transform: translate(-50%, -50%) scale(1);
}